<a href="https://colab.research.google.com/github/khuloodnasher/Name-Entity-Recognition-NER-/blob/main/Name_Entity_Recognition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# create nlp object
import spacy
nlp=spacy.load("en_core_web_sm")
nlp

Tokenization

In [100]:
# collect the tokens
my_text=nlp(u""" My name is Khulood Nasher.I'm living in Los Angeles, California.I'm working at Amazon since November 9th,2020.
 Amazon office is 5 miles from house.
 I'm working 8 hours a day, 40 hours a week in 5 days, Monday-Friday.
I finished master degree from Idaho State University(ISU),Idaho.
My annual salary is $78,230. I'm an Arabic native speaker and an English professional.I have 6 siblings. I'm the second between them.  """)

for token in my_text:
    print(token.text, end=' || ')

  || My || name || is || Khulood || Nasher || . || I'm || living || in || Los || Angeles || , || California || . || I'm || working || at || Amazon || since || November || 9th,2020 || . ||
  || Amazon || office || is || 5 || miles || from || house || . ||
  || I || 'm || working || 8 || hours || a || day || , || 40 || hours || a || week || in || 5 || days || , || Monday || - || Friday || . ||
 || I || finished || master || degree || from || Idaho || State || University(ISU),Idaho || . ||
 || My || annual || salary || is || $ || 78,230 || . || I || 'm || an || Arabic || native || speaker || and || an || English || professional || . || I || have || 6 || siblings || . || I || 'm || the || second || between || them || . ||   ||

# Entity Extraction

In [101]:
# create the text as nlp object
my_text=nlp(u""" My name is Khulood Nasher.I'm living in Los Angeles, California.I'm working at Amazon since November 9th,2020.
 Amazon office is 5 miles from house.
 I'm working 8 hours a day, 40 hours a week in 5 days, Monday-Friday.
I finished master degree from Idaho State University(ISU),Idaho.
My annual salary is $78,230. I'm an Arabic native speaker and an English professional.I have 6 siblings. I'm the second between them.  """)


# extract name entity
for enti in my_text.ents:
  print(enti.text,enti.label_)

Khulood Nasher PERSON
Los Angeles GPE
California GPE
Amazon ORG
November 9th,2020 DATE
Amazon ORG
5 miles QUANTITY
8 hours TIME
40 hours TIME
5 days DATE
Monday-Friday DATE
Idaho State University(ISU),Idaho ORG
78,230 MONEY
Arabic NORP
English LANGUAGE
6 CARDINAL
second ORDINAL

# Entity Attributes

In [97]:
my_text=nlp(u"""My name is Khulood Nasher.I'm living in Los Angeles, California.
I'm working at Amazon since November 9th,2020.
 Amazon office is 5 miles from house.
 I'm working 8 hours a day, 40 hours a week in 5 days, Monday-Friday.
I finished master degree from Idaho State University(ISU),Pocatello, Idaho.My annual salary is $78,230. 
I'm an Arabic native speaker and an English professional.I have 6 siblings. I'm the second between them.  """)
for ent in my_text.ents:
    print(ent.text)
    print(ent.label_)
    print(ent.start)
    print(ent.end)
    print(ent.start_char)
    print(ent.end_char)
    print('----------------------------------------------')

Khulood Nasher
PERSON
3
5
11
25
----------------------------------------------
Los Angeles
GPE
9
11
40
51
----------------------------------------------
California
GPE
12
13
53
63
----------------------------------------------
Amazon
ORG
19
20
80
86
----------------------------------------------
November 9th,2020
DATE
21
23
93
110
----------------------------------------------
Amazon
ORG
25
26
113
119
----------------------------------------------
5 miles
QUANTITY
28
30
130
137
----------------------------------------------
8 hours
TIME
37
39
163
170
----------------------------------------------
40 hours
TIME
42
44
178
186
----------------------------------------------
5 days
DATE
47
49
197
203
----------------------------------------------
Monday-Friday
DATE
50
53
205
218
----------------------------------------------
Idaho State University(ISU),Pocatello
ORG
60
63
250
287
----------------------------------------------
Idaho
GPE
64
65
289
294
----------------------------------------------
annual
DATE
67
68
298
304
----------------------------------------------
78,230
MONEY
71
72
316
322
----------------------------------------------
Arabic
NORP
77
78
332
338
----------------------------------------------
English
LANGUAGE
82
83
361
368
----------------------------------------------
6
CARDINAL
87
88
389
390
----------------------------------------------
second
ORDINAL
93
94
409
415
----------------------------------------------

# Explaining Entity Tags

In [75]:
my_text=nlp(u""" My name is Khulood Nasher.I'm living in Los Angeles, California.
I'm working at Amazon since November 9th,2020.
 Amazon office is 5 miles from house.
 I'm working 8 hours a day, 40 hours a week in 5 days, Monday-Friday.
I finished master degree from Idaho State University(ISU),Pocatello, Idaho.My annual salary is $78,230. 
I'm an Arabic native speaker and an English professional.I have 6 siblings. I'm the second between them.  """)
for entit in my_text.ents:
    print(entit.text , ' : ' ,  entit.label_ , ' : ' , str(spacy.explain(entit.label_)))

Khulood Nasher  :  PERSON  :  People, including fictional
Los Angeles  :  GPE  :  Countries, cities, states
California  :  GPE  :  Countries, cities, states
Amazon  :  ORG  :  Companies, agencies, institutions, etc.
November 9th,2020  :  DATE  :  Absolute or relative dates or periods
Amazon  :  ORG  :  Companies, agencies, institutions, etc.
5 miles  :  QUANTITY  :  Measurements, as of weight or distance
8 hours  :  TIME  :  Times smaller than a day
40 hours  :  TIME  :  Times smaller than a day
5 days  :  DATE  :  Absolute or relative dates or periods
Monday-Friday  :  DATE  :  Absolute or relative dates or periods
Idaho State University(ISU),Pocatello  :  ORG  :  Companies, agencies, institutions, etc.
Idaho  :  GPE  :  Countries, cities, states
annual  :  DATE  :  Absolute or relative dates or periods
78,230  :  MONEY  :  Monetary values, including unit
Arabic  :  NORP  :  Nationalities or religious or political groups
English  :  LANGUAGE  :  Any named language
6  :  CARDINAL  :  Numerals that do not fall under another type
second  :  ORDINAL  :  "first", "second", etc.

# Counting the Number of Specific Entity

In [11]:
my_text=nlp(u""" My name is Khulood Nasher.I'm living in Los Angeles, California.
I'm working at Amazon since November 9th,2020.
 Amazon office is 5 miles from house.
 I'm working 8 hours a day, 40 hours a week in 5 days, Monday-Friday.
I finished master degree from Idaho State University(ISU),Pocatello, Idaho.My annual salary is $78,230. 
I'm an Arabic native speaker and an English professional.I have 6 siblings. I'm the second between them.  """)
count_org=len([entit for entit in my_text.ents if entit.label_=='ORG'])

count_org

3

# Extracting Named Entity through a Function

In [3]:
# extracting named entity through a function
def display_entit(corpus):
    if corpus.ents:
        for ent in corpus.ents:
            print(ent.text+' - '+ent.label_+' - '+str(spacy.explain(ent.label_)))
            print('-----------------------------')
    else:
        print('No named entities found.')

In [5]:
display_entit(nlp("May I borrow Harry Poter book in May?"))

Harry Poter - PERSON - People, including fictional
-----------------------------
May - DATE - Absolute or relative dates or periods
-----------------------------

In [6]:
display_entit(nlp("How are you doing?"))

No named entities found.