<a href="https://colab.research.google.com/github/khuloodnasher/Name-Entity-Recognition-NER-/blob/main/Name_Entity_Recognition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# create nlp object
import spacy
nlp=spacy.load("en_core_web_sm")
nlp

In [ ]:
# create the text as nlp object
my_text=nlp(u""" My name is Khulood Nasher.I'm living in Los Angeles, California.I'm working at Amazon since November 9th,2020. Amazon office is 5 miles from house.
 I'm working 8 hours a day, 40 hours a week in 5 days, Monday-Friday.
I finished master degree in Physics from Idaho State University(ISU),Pocatello, Idaho.
My annual salary is $78,230. I also finished Data Sciences at Flatiron School.
I'm an Arabic native speaker and an English professional.I have 6 siblings. I'm the second between them.  """)

# extract name entity
for enti in my_text.ents:
  print(enti.text,enti.label_)

Khulood Nasher PERSON
Los Angeles GPE
California GPE
Amazon ORG
NLP ORG
November 9th,2020 DATE
Amazon ORG
5 miles QUANTITY
8 hours TIME
40 hours TIME
5 days DATE
Monday-Friday DATE
Physics GPE
Idaho State University(ISU),Pocatello ORG
Idaho GPE
annual DATE
78,230 MONEY
Data Sciences ORG
Flatiron School ORG
Arabic NORP
English LANGUAGE
6 CARDINAL
second ORDINAL

In [ ]:

# collect the tokens
my_text=nlp(u""" My name is Khulood Nasher.I'm living in Los Angeles, California.I'm working at Amazon as NLP 
specialist since November 9th,2020. Amazon office is 5 miles from house.
 I'm working 8 hours a day, 40 hours a week in 5 days, Monday-Friday.
I finished master degree in Physics from Idaho State University(ISU),Pocatello, Idaho.
My annual salary is $78,230. I also finished Data Sciences at Flatiron School.
I'm an Arabic native speaker and an English professional.I have 6 siblings. I'm the second between them.  """)

for token in my_text:
    print(token.text, end=' || ')

  || My || name || is || Khulood || Nasher || . || I'm || living || in || Los || Angeles || , || California || . || I'm || working || at || Amazon || as || NLP ||
 || specialist || since || November || 9th,2020 || . || Amazon || office || is || 5 || miles || from || house || . ||
  || I || 'm || working || 8 || hours || a || day || , || 40 || hours || a || week || in || 5 || days || , || Monday || - || Friday || . ||
 || I || finished || master || degree || in || Physics || from || Idaho || State || University(ISU),Pocatello || , || Idaho || . ||
 || My || annual || salary || is || $ || 78,230 || . || I || also || finished || Data || Sciences || at || Flatiron || School || . ||
 || I || 'm || an || Arabic || native || speaker || and || an || English || professional || . || I || have || 6 || siblings || . || I || 'm || the || second || between || them || . ||   ||

In [90]:
my_text=nlp(u"""Arabic My name is Khulood Nasher.I'm living in Los Angeles, California.
I'm working at Amazon since November 9th,2020.
 Amazon office is 5 miles from house.
 I'm working 8 hours a day, 40 hours a week in 5 days, Monday-Friday.
I finished master degree from Idaho State University(ISU),Pocatello, Idaho.My annual salary is $78,230. 
I'm an Arabic native speaker and an English professional.I have 6 siblings. I'm the second between them.  """)
for ent in my_text.ents:
    print(ent.text)
    print(ent.label)
    print(ent.label_)
    print(str(spacy.explain(ent.label_)))
    print(ent.start)
    print(ent.end)
    print(ent.start_char)
    print(ent.end_char)
    print('----------------------------------------------')

Arabic
381
NORP
Nationalities or religious or political groups
0
1
0
6
----------------------------------------------
Khulood Nasher
380
PERSON
People, including fictional
4
6
18
32
----------------------------------------------
Los Angeles
384
GPE
Countries, cities, states
10
12
47
58
----------------------------------------------
California
384
GPE
Countries, cities, states
13
14
60
70
----------------------------------------------
Amazon
383
ORG
Companies, agencies, institutions, etc.
20
21
87
93
----------------------------------------------
November 9th,2020
391
DATE
Absolute or relative dates or periods
22
24
100
117
----------------------------------------------
Amazon
383
ORG
Companies, agencies, institutions, etc.
26
27
120
126
----------------------------------------------
5 miles
395
QUANTITY
Measurements, as of weight or distance
29
31
137
144
----------------------------------------------
8 hours
392
TIME
Times smaller than a day
38
40
170
177
----------------------------------------------
40 hours
392
TIME
Times smaller than a day
43
45
185
193
----------------------------------------------
5 days
391
DATE
Absolute or relative dates or periods
48
50
204
210
----------------------------------------------
Monday-Friday
391
DATE
Absolute or relative dates or periods
51
54
212
225
----------------------------------------------
Idaho State University(ISU),Pocatello
383
ORG
Companies, agencies, institutions, etc.
61
64
257
294
----------------------------------------------
Idaho
384
GPE
Countries, cities, states
65
66
296
301
----------------------------------------------
annual
391
DATE
Absolute or relative dates or periods
68
69
305
311
----------------------------------------------
78,230
394
MONEY
Monetary values, including unit
72
73
323
329
----------------------------------------------
Arabic
381
NORP
Nationalities or religious or political groups
78
79
339
345
----------------------------------------------
English
389
LANGUAGE
Any named language
83
84
368
375
----------------------------------------------
6
397
CARDINAL
Numerals that do not fall under another type
88
89
396
397
----------------------------------------------
second
396
ORDINAL
"first", "second", etc.
94
95
416
422
----------------------------------------------

In [75]:
my_text=nlp(u""" My name is Khulood Nasher.I'm living in Los Angeles, California.
I'm working at Amazon since November 9th,2020.
 Amazon office is 5 miles from house.
 I'm working 8 hours a day, 40 hours a week in 5 days, Monday-Friday.
I finished master degree from Idaho State University(ISU),Pocatello, Idaho.My annual salary is $78,230. 
I'm an Arabic native speaker and an English professional.I have 6 siblings. I'm the second between them.  """)
for entit in my_text.ents:
    print(entit.text , ' : ' ,  entit.label_ , ' : ' , str(spacy.explain(entit.label_)))

Khulood Nasher  :  PERSON  :  People, including fictional
Los Angeles  :  GPE  :  Countries, cities, states
California  :  GPE  :  Countries, cities, states
Amazon  :  ORG  :  Companies, agencies, institutions, etc.
November 9th,2020  :  DATE  :  Absolute or relative dates or periods
Amazon  :  ORG  :  Companies, agencies, institutions, etc.
5 miles  :  QUANTITY  :  Measurements, as of weight or distance
8 hours  :  TIME  :  Times smaller than a day
40 hours  :  TIME  :  Times smaller than a day
5 days  :  DATE  :  Absolute or relative dates or periods
Monday-Friday  :  DATE  :  Absolute or relative dates or periods
Idaho State University(ISU),Pocatello  :  ORG  :  Companies, agencies, institutions, etc.
Idaho  :  GPE  :  Countries, cities, states
annual  :  DATE  :  Absolute or relative dates or periods
78,230  :  MONEY  :  Monetary values, including unit
Arabic  :  NORP  :  Nationalities or religious or political groups
English  :  LANGUAGE  :  Any named language
6  :  CARDINAL  :  Numerals that do not fall under another type
second  :  ORDINAL  :  "first", "second", etc.

In [83]:
# extracting named entity through a function
def display_entit(corpus):
    if corpus.ents:
        for ent in corpus.ents:
            print(ent.text+' - '+ent.label_+' - '+str(spacy.explain(ent.label_)))
            print('-----------------------------')
    else:
        print('No named entities found.')

In [84]:
display_entit(nlp("May I book Harry Poter in May?"))

Harry Poter - PERSON - People, including fictional
-----------------------------
May - DATE - Absolute or relative dates or periods
-----------------------------

# Adding Named Entities

In [92]:
from spacy.tokens import Span
my_text=nlp(u"""Arabic My name is Khulood Nasher.I'm living in Los Angeles, California.
I'm working at Amazon since November 9th,2020.
 Amazon office is 5 miles from house.
 I'm working 8 hours a day, 40 hours a week in 5 days, Monday-Friday.
I finished master degree from Idaho State University(ISU),Pocatello, Idaho.My annual salary is $78,230. 
I'm an  native speaker and an English professional.I have 6 siblings. I'm the second between them.  """)
for ent in my_text.ents:
  LANGUAGE = my_text.vocab.strings[u'LANGUAGE']  
new_ent = Span(my_text, 0, 1, label=LANGUAGE)

In [94]:
my_text=nlp(u""" My name is Khulood Nasher.I'm living in Los Angeles, California.
I'm working at Amazon since November 9th,2020.
 Amazon office is 5 miles from house.
 I'm working 8 hours a day, 40 hours a week in 5 days, Monday-Friday.
I finished master degree from Idaho State University(ISU),Pocatello, Idaho.My annual salary is $78,230. 
I'm  native speaker and an English professional.I have 6 siblings. I'm the second between them.  """)

my_text.ents = list(my_text.ents) + [new_ent]
display_entit(my_text)

  - LANGUAGE - Any named language
-----------------------------
Khulood Nasher - PERSON - People, including fictional
-----------------------------
Los Angeles - GPE - Countries, cities, states
-----------------------------
California - GPE - Countries, cities, states
-----------------------------
Amazon - ORG - Companies, agencies, institutions, etc.
-----------------------------
November 9th,2020 - DATE - Absolute or relative dates or periods
-----------------------------
Amazon - ORG - Companies, agencies, institutions, etc.
-----------------------------
5 miles - QUANTITY - Measurements, as of weight or distance
-----------------------------
8 hours - TIME - Times smaller than a day
-----------------------------
40 hours - TIME - Times smaller than a day
-----------------------------
5 days - DATE - Absolute or relative dates or periods
-----------------------------
Monday-Friday - DATE - Absolute or relative dates or periods
-----------------------------
Idaho State University(ISU),Pocatello - ORG - Companies, agencies, institutions, etc.
-----------------------------
Idaho - GPE - Countries, cities, states
-----------------------------
annual - DATE - Absolute or relative dates or periods
-----------------------------
78,230 - MONEY - Monetary values, including unit
-----------------------------
English - NORP - Nationalities or religious or political groups
-----------------------------
6 - CARDINAL - Numerals that do not fall under another type
-----------------------------
second - ORDINAL - "first", "second", etc.
-----------------------------